/* colors */
.bg-gradient {
    background: linear-gradient(black, #202E75);
}

.bg-gradient-inverse {
    background: linear-gradient(#202e75, black);
}

.avocado-gradient {
    background: linear-gradient(black, lightgreen, yellow);
}

.avocado-gradient-inverse {
    background: linear-gradient(yellow, lightgreen, black);
}

.green-90{
    background: linear-gradient(90deg, black,lightgreen, yellow);
}

.green-minus-90 {
    background: linear-gradient(-90deg, black, lightgreen, yellow);
}

.yellow {
    background: linear-gradient(90deg, yellow, #ffff66, yellow);
}

.brown-inverse {
    background: linear-gradient(brown, #b37320);
}
.brown {
    background: #b37320;
}
.brown-outverse {
    background: linear-gradient(#b37320, brown);
}
.brown-90 {
    background: linear-gradient(90deg, brown, #b37320);
}
.brown-minus-90 {
    background: linear-gradient(-90deg, brown, #b37320);
}

.blue {
    background: #202e75;
}

.shadow {
    background-color: black;
}

.bubble {
    background: linear-gradient(90deg, white, #b37320, #b37320);
    
}

/* body */
body {
    text-align : center;
    font-size: 60px;
    font-family: 'Orbitron', sans-serif;
}

p {
    color: #cecece;
    letter-spacing: 5px;
}



